<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <title>Cabifoto - Empresa de Cabinas Fotográficas</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link href="res/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/estilos.css"><script src="https://kit.fontawesome.com/b19ed06a28.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <header class="container fondo3">
    <%- include('html/header'); %>
  </header>
  <main>
    <section class="header fondo_1  p-5">
         <div class="container formulario-background">
             <div class="row justify-content-center">
                <div class="col-md-8 borde">
                    <h1 class="mt-3 mb-5">Formulario de contacto</h1>
                    <form action="/contacto"  method="POST">
             
                        <!-- Para presentarlo en columnas, tenemos que modificar la forma de trabajar los campos. El contenedor sigue llevando la clase form-group como antes pero ahora, además, le aplicamos la clase row para generar la grilla de 12 columnas internas donde vamos a distribuir los labels y los campos. El label, ahora por fuera del div que lo contenía junto al input, le aplicamos la clase col-form-label que lo habilita a trabajarlo como columna, por lo que también le aplicamos una clase clásica col de Bootstrap para determinar su ancho. Luego el div que contiene al campo, también recibe las clases clásicas de columnas de Bootstrap para ubicarlo al lado del label. El campo dentro de este div, sigue recibiendo la clase form-control como antes (o la que corresponda dependiendo del tipo de control). -->
                        <div class="form-group row">
                            <label for="nombre" class="col-md-2 col-form-label">Nombre</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control"  name="nombre" id="nombre" placeholder="nombre...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="apellido" class="col-md-2 col-form-label">Apellido</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control"  name="apellido" id="apellido" placeholder="apellido...">
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="mail" class="col-md-2 col-form-label">Email</label><div class="col-md-4">
                                
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="email"  id="mail" aria-describedby="ayudamail" placeholder="email...">
                            </div>
                          </div>
                        
                        <div class="form-group"><label for="comentario">Comentario</label>
                            <div class="col-md-8 text-center">  
                            <textarea id="comentario" name="comentario" class="form-control" cols="30" rows="5"></textarea>
                        
                        <input type="submit" value="enviar" class="mt-5 text-uppercase mb-5 btn btn-success">
                    </div>
                  
                  </form>
                </div>
                     </div>
         </div>
    </section>

   
  </main>
  <footer>
    <%- include('html/footer');%>
  </footer>
  <script src="js/jquery-3.5.1.js"></script>
  <script src="js/bootstrap.bundle.js"></script>

</body>

</html>