<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('html/head'); %>
 </head>

<body>
  <header class="container fondo3">
    <%- include('html/header'); %>
  </header>
  <main>
    <section class="header fondo_1  p-5">
      <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-12 col-md-9 col-lg-6 col-xl-5 p-3">
            <h1 class="pb-5">Cabifoto</h1>

            <p>
              Cabifoto es la empresa lider en alquiler de Cabinas fotograficas para fiestas. Te damos todo lo que necesitas para hacer de tu fiesta un momento unico. Te invitamos a que nos conozcas!
            </p>

            <button type="button" class=" boton-presupuesto btn-lg mt-5 mb-5">
              <a href="/contacto">Pedir Pesupuesto</a>
            </button>

          </div>
          <div class="col-md-5">
            <img src="img/cabina-1.jpeg" class="img-fluid " alt="Grupo de personas en una fiesta sacandose una selfie">
          </div>
        </div>
      </div>
    </section> <section class="gradient">
       
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
      
    </section>
    <section id="nosotros" class="quienes_somos fondo_2 pb-5 ">

      <div class="container">
        <div class="row  ">
        
            <h2 class="my-3">¿Que nos diferencia?</h2>
            <div class="col-md-6">
              
              <div class="feature">
                <i class="fa fa-check"></i>
                <p><strong>Funcionamiento de las Cabinas Fotograficas.</strong></p>
                            <p>La Cabina Fotografica le permite a los invitados sacarse fotos divertidas y llevarlas en el momento.</p>
              </div>
              <div class="feature">
                <i class="fa fa-check"></i>
                <p><strong>Tamaños de impresion.</strong></p>
                            <p>Los tamaños de impresion son de 5x15 cm, 10x15 cm..</p>
              </div>
              
              
            </div>
            <div class="col-md-6">
              <div class="section-header">
                </div>
              <div class="feature">
                <i class="fa fa-check"></i>
                <p><strong>Sesiones por evento.</strong></p>
                            <p>Las sesiones durante las horas de servicio son ilimitadas.  </p>
              </div>
             
              <div class="feature">
                <i class="fa fa-check"></i>
                <p><strong>Props - Accesorios - cotillón para las fotos.</strong></p>
                            <p>Contamos con pelucas, sombreros, anteojos, entre otras cosas, y está incluido en el servicio.  </p>
              </div> 
            
          
        </div>
      </div>
    </section>
   
    <section class="companies mt-5 mb-5">
      <div class="container text-center mt-5">
        <div class="row pb-5 pt-5 mt-5 mb-5 companies-icon">
          <h2 class="h4  mb-5 pb-5 text-left my-3">Algunos clientes que disfrutaron de su <span class="cabifoto-color">Cabifoto</span></h2>
          <div class="col-md-2">
            <img
              src="img/companies-1.png"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="img/companies-2.png"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="img/companies-3.png"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="img/companies-4.png"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="img/companies-5.png"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="img/companies-6.png"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>  <section class="three-icon icons p-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-3">
            <div class="icono fondo_1 mb-4">
              <i class="fas fa-shipping-fast"></i>
            </div>
            <h3>Te enviamos el Cabifoto a tu Fiesta!</h3>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-3">
            <div class="icono fondo_1 mb-4">
              <i class="fas fa-credit-card"></i>
            </div>
            <h3>Podes financiar tu Cabifoto en hasta 18 cuotas</h3>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-3">
            <div class="icono fondo_1 mb-4">
              <i class="fas fa-photo-video"></i>
            </div>
            <h3>La mejor calidad de impresion en fotografias</h3>

          </div>
        </div>
      </div>
    </section>
    <section id="app" class="galeria p-5 fondo_1">

      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <h2 class="eight">
              Vos disfruta de tu fiesta,
              <span> nosotros nos encargamos de las Fotos</span>
            </h2> 
            <p>Diseñada para que puedas disfrutar de tu fiesta sin tener que preocuparte por las fotos
            </p>
          </div>
        </div>
        <div class="row my-3 g-3">
          <div class="col-md-4">
            <img alt="fotografia de la app de usuario navegando en pagina principal" class="img-fluid"
              src="img/cabina-4.jpeg">
          </div>
          <div class="col-md-4">
            <img alt="fotografia de consulta de carrito en la app" class="img-fluid" src="img/cabina-5.jpeg">
          </div>
          <div class="col-md-4">
            <img alt="fotografia de usuaria comprando en la app" class="img-fluid" src="img/cabina-6.jpg">
          </div>
        </div>

      </div>

    </section><section class="gradient">
       
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
      
    </section>
  
    <section class="services fondo_2 p-5">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-sm-9 col-md-3 col-lg-6 col-xl-5">


            <h2>Somos la empresa lider en Fotocabinas para fiestas.</h2>

            <p> Nuestra experiencia en múltiples y variados eventos garantiza que este servicio innovador convierta tu festejo en algo único. 
              Las cabinas fotográficas brindan a tus invitados fotos instantáneas con momentos divertidos y memorables.
            </p>
          </div>
          <div class="col-sm-9 col-md-3 col-lg-6 col-xl-5"><img src="img/cabina-8.jpg" class="img-fluid m-3"
              alt="ilustracion de carrito y smartphone"></div>
           
      </div>

    </section>

   
  </main>
  <footer>
    <%- include('html/footer');%>
  </footer>
  <script src="../public/js/jquery-3.5.1.js"></script>
  <script src="../public/js/bootstrap.bundle.js"></script>

</body>

</html>