<div>
    <div>
      <h3>Seguinos en las redes</h3>
      <ul>
        <li><a href="https://es-la.facebook.com/">Facebook</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram </a></li>
      </ul>
    </div>
    <div>
      <h3>Nosotros</h3>
      <p>Correo: cabifoto@hotmail.com</p>
      <p>Horarios de Atención: Lunes a Viernes de 9:00 a 20:00 hs.</p>
    </div>
    <div>
      <h3>Ubicación</h3>
      <p>Corrientes 2037, CABA, Buenos Aires</p>
    </div>
  </div>