<a href="/home"><span id="logo">Logo Cabifoto </span></a>
<div class="row">
  <nav class="col navbar navbar-expand-md  ">

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#barra"
      aria-controls="barra" aria-expanded="false" aria-label="Menú Hamburguesa">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="barra">
      <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/home/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</div>